html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  background-size: cover;
}

body {
  margin: 0;
  color: #484848;
  font-family: 'Lato', sans-serif;
}


.nav-container {
  display: flex;
  padding: 16px 24px;
  justify-content: space-between;
}

.nav-brand {
  width: 20%
}

.nav-item {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: salmon;
  padding: 20px 0;
  margin: 0 8px;
}

.main-container {
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1551076805-e1869033e561?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1790&q=80);
}


.heading {
  font-size: 32px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 20px;
}

.button-container {
  text-align: right;
}

.button {
  background-color: #ff5a5f;
  color: white;
  text-align: center;
  border-radius: 4px;
  display:inline-block;
  padding: 12px 24px;
}

.footer {
  color: white;
  text-align: right;
  position: absolute;
  right: 32px;
  bottom: 32px;
  width: 180px;
}


.profile-pic {
  width: 250px;
  border-radius: 50%;
  object-fit: cover;
}

@media (max-width: 768px) {
  
  .main-container {
    height: fit-content;
    background-position: top;
  }
  .footer {
    display: none;
  }
}


/* ---------------------------------------------------------------------------------------------------------
 # Start writing your code here
--------------------------------------------------------------------------------------------------------- */


.small-container {
display: flex
}

















/* ---------------------------------------------------------------------------------------------------------
 # Solution
--------------------------------------------------------------------------------------------------------- */

/* 
@media (max-width: 768px) {
  .card {
    width: 100%;
    margin: 256px 0 0;
  }
  .main-container {
    height: fit-content;
    background-position: top;
  }
  .footer {
    display: none;
  }
} 
*/